@model projectsd.Models.View.Rooms

<div class="col-md-7 col-md-push-5">
    <h3 class="text-dark border-dark"> Details</h3>
    <div class="mx-4 my-3">
        
        <p>Rooms: @Model.noofrooms</p>
        <p>Members: @Model.needmembers<span>/</span>@Model.maxmembers</p>
        <p>Rooms: @Model.noofrooms</p>
        <p>Address: <span class="font-weight-bold">@Model.Location</span></p>
        <p>Size: @Model.size<span> sqft</span></p>
    </div>
