@model projectsd.Models.Rent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rent</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.InfoId, "InfoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InfoId", String.Empty)
                @Html.ValidationMessageFor(model => model.InfoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, "RoomId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoomId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenantId, "TenantId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TenantId", String.Empty)
                @Html.ValidationMessageFor(model => model.TenantId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
